SSLOptions +StrictRequire
SSLRequireSSL
SSLRequire %{HTTP_HOST} eq "tltc.shu.edu"
ErrorDocument 403 /projects/laptops/students/index.php

AuthType Basic

Order allow,deny
Allow from all

AuthName "Please use your PirateNet credentials to register for Office 365 Migration."
AuthBasicProvider ldap
AuthzLdapAuthoritative on
AuthLDAPURL ldaps://ldap-lb1-prod.shu.edu:636/OU=SHU_Users,DC=shu,DC=edu?sAMAccountName,employeeid,givenname,middlename,sn?sub?(objectClass=person)
AuthLDAPBindDN "cn=tltcldap,OU=SHU_Users,DC=shu,DC=edu"
AuthLDAPBindPassword "pDnG0+P"
Require user mcgeetho


<IfModule mod_rewrite.c>

RewriteEngine on
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization},L]

</IfModule>


